.posterImage{
    height: 600px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}
.posterImage__overlay{
  position: absolute;
  padding: 4rem;
  bottom: 0px;
  width: 100%;
  background-image: linear-gradient(rgb(0,0,0, 0), rgb(0,0,0, 1));
  opacity: 1;
  transition: opacity .3s;
}
.posterImage__overlay-container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

@media screen and (max-width: 768px) {
  .my-carousel .carousel .control-dots {
    display: none;
  }
  .carousel-arrow{
    display: none !important;
  }
  
  .posterImage{
    height: 250px;
  }
  .posterImage__overlay{
    padding:2rem;
    
  }
  .posterImage__title {
    font-weight: 900;
    font-size: 1rem;
  }
  .posterImage__runtime{
    font-size: 1rem;
  }
  .posterImage__rating{
    font-size: 1rem;
  }
.posterImage__description{
  font-size: .6rem;
  display: none;
}

}


/* Remove hover background color for control arrows */
.carousel.carousel-slider .control-arrow:hover {
  background-color: transparent!important;
}

.carousel .control-dots .dot.selected{
  height: 10px !important;
  width: 10px !important;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 
  border: none;
  z-index: 999;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-prev {
  left: 10px;
  background-color: var(--secondary-color);;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transform: none;
  transition: all .3s ease-in-out;
}
.arrow-prev:hover,.arrow-next:hover {
transform: scale(1.05);
}

.arrow-next {
  right: 10px;
  background-color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transform: none;
  transition: all .3s ease-in-out;
}