.mySlickCarouselContainer{
    padding: 0rem;
}


.movieList{
    padding:2rem 4rem;
}

.mySlickCarouselContainer{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}




.slick-arrow-prev, .slick-arrow-next{
    border: none;
    background:none;
    position: absolute;
    top: 50%;
    display: block;
    width: 12px;
    height: 12px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
}

.mySlickCarousel .slick-arrow-prev{
    left: -15px;
}
.mySlickCarousel .slick-arrow-next{
    right: -5px;
}

@media screen and (max-width: 768px) {
    .movieList{
        padding:2rem;
    }
    .mySlickCarousel .cards{
        width: 200px;
        height: 300px;
      }
}